@keyframes growElement {
    0% {
        width: 50px;
        background-color: yellow;
    }

    50% {
        width: 100px;
        background-color: green;
    }

    100% {
        width: 200px;
        background-color: red;
    }
}

div {
    width: 50px;
    height: 50px;
    border: 1px solid;
    text-align: center;
    line-height: 50px;
}

div:hover {
    animation-name: growElement, skewElement;
}

div:nth-child(1) {
    animation-duration: 2s;
}

div:nth-child(2) {
    animation-duration: 4s;
}

div:nth-child(3) {
    animation-duration: 900ms;
}

@keyframes skewElement {

    5%,
    100% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(-50deg);
    }

    95% {
        transform: skew(50deg);
    }
}