.passenger-form {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    padding: 0 16px;
    box-sizing: border-box;
}

h5 {
    padding: 0 16px;
    font-weight: 400;
    margin-top: 0;
}

.passenger-info {
    min-width: min(90vw, 400px);
    max-width: 800px;
    margin-bottom: 36px;
}

.total {
    list-style: none;
    padding: 0 12px;
}

.total li {
    margin-bottom: 8px;
}