#profile-info {
    display: flex;
    flex-direction: column;
    margin: 32px 0;

}

#profile-info>h2 {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 30px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}

#profile-info>h1 {
    margin-top: 0;
    margin-bottom: 12px;
}

#profile-info>.button-container {
    margin-top: 24px;
    display: flex;
    gap: 16px;

}

.button-destructive {
    background-color: #f53816;
    color: #ddd;
}