/* Flight card */

.flight-card-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, .2);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 32px;
}

.info-row {
    display: flex;
    gap: 16px;
}

.flight-id {
    margin: 0;
    font-size: 18px;
}

.airplain-id {
    font-size: 14px;
    color: gray;
    padding-top: 3px;
}

.info-cell {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

h6 {
    margin: 0;
    font-size: 12px;
    color: var(--primary);
}

.airplane-info {
    align-items: center;
    padding-top: 1px;
}

.flight-info {
    gap: 32px;
    flex-wrap: wrap;
}

.price-info {
    align-items: center;
    padding-top: 8px;
}

/* End Flight card */


/* Buttons */
/* End Buttons */