.container {
    max-width: 1200px;
}

.header {
    width: 100%;
}

.services {
    max-width: 100%;
}

.service {
    width: 23%;
}

.project {
    width: 32%;
}

@media (max-width: 1200px) {
    .service {
        width: 45%;
        font-size: 100%;
        overflow-y: scroll;
    }

    .project {
        width: 90%;
        font-size: 100%;
        overflow-y: scroll;
    }
}

@media (max-width: 800px) {
    .header {
        overflow-y: scroll;
    }

    .service,
    .project {
        width: 100%;
        overflow-y: scroll;
    }
}