body {
    background-color: rgb(216, 216, 216);
    padding: 20px;
}

.container {
    margin: 0 auto;
}

.header {
    background-color: rgb(240, 140, 47);
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    align-content: center;
}

.services,
.projects {
    text-align: center;
}

.service {
    background-color: aqua;
    width: 290px;
    height: 200px;
    display: inline-block;
    margin: 5px;
}


.project {
    background-color: darkgoldenrod;
    width: 390px;
    height: 200px;
    display: inline-block;
    margin: 5px;

}