.wrapper {
    width: 700px;
    height: 500px;
    border-bottom: 2px solid green;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

img {
    height: 100%;
    width: auto;
}

.description {
    background-color: rgba(0, 128, 0, 0.6);
    width: 150px;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h3,
p {
    margin: 0 0 0 10px;
}

p {
    font-style: italic;
}